<!-- Footer section with fixed positioning at the bottom of the page -->
<div style="position: fixed; left: 15px; bottom: 0; width: 100%">
  <div class="card-header">
    <!-- Copyright information -->
    <p>&#169; Meant for learning Purpose</p>

    <!-- Author information -->
    <footer class="blockquote-footer">
      <cite title="Source Title">Altaf raza</cite>
    </footer>
  </div>
</div>
